{% extends 'base.html.twig' %}


{% block body %}

    <h1>password Generator</h1>

    <form >
    <label for=""></label>

        <label for="upperCase">Upper Case</label>
        <input type="checkbox" id="upperCase" name="upperCase"> <br>

        <label for="digits">digits</label>
        <input type="checkbox" id="digits" name="digits"><br>

        <label for="specialCharacters">Special Characters</label>
        <input type="checkbox" id="specialCharacters" name="specialCharacters"><br>

        <button>Generate Password</button>
    </form>

    <footer>
        Built with &hearts; by <a>SAIDI Amine</a>
    </footer>

{% endblock %}